<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.hp.ceaserplus">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/logo2x"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/logo2x"
        android:supportsRtl="false"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="@string/google_maps_key" />

        <activity
            android:name=".ActivityClasses.SplashScreen"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".ActivityClasses.MainActivity" />

        <activity android:name=".ActivityClasses.Login" />

        <activity
            android:name=".ActivityClasses.registerScreen"
            android:label="@string/title_activity_register_screen"
            android:theme="@style/AppTheme" />

        <activity
            android:name=".ActivityClasses.Popup_Class"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Holo.Light.Dialog" />

        <activity
            android:name=".ActivityClasses.ImagesGalleryActivity"
            android:theme="@android:style/Theme.Holo.Light.Dialog.NoActionBar.MinWidth" />

        <activity
            android:name=".ActivityClasses.NewsDetails"
            android:label="NewsDetails"
            android:theme="@android:style/Theme.Holo.Light.Dialog.NoActionBar" />

        <activity
            android:name=".ActivityClasses.UpdateAppointmentActivity"
            android:theme="@android:style/Theme.Holo.Light.Dialog.NoActionBar.MinWidth" />

        <activity
            android:name=".ActivityClasses.dietDetails"
            android:label="NewsDetails"
            android:theme="@android:style/Theme.Holo.Light.Dialog" />

        <activity
            android:name=".ActivityClasses.PackagePayment"
            />

        <activity
            android:name=".ActivityClasses.OffersPupup"
            android:theme="@android:style/Theme.Holo.Light.Dialog.NoActionBar.MinWidth" />

        <activity android:name=".ActivityClasses.SendFeedback" />

    </application>

</manifest>